*{
    font-family: "Fredoka", serif;
    background-color: rgb(224, 224, 224)
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    margin: 50px 0 50px 0;
}
body{
    margin: 50px;
    padding: 50px;
    border: 5px burlywood solid ;    
    border-radius: 20px;
    font-family: "Fredoka", serif;
}
h2{
    color: burlywood;
    font-family: "Fredoka", serif;
}
.orderedlist{
    border: 4px burlywood dotted;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    transition: all 0.2s ease-in-out;
}
.unorderedlist{
    border: 4px burlywood solid;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    transition: all 0.2s ease-in-out;
}
.article{
    border: 4px burlywood solid;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    transition: all 0.2s ease-in-out; 
    cursor: pointer;
}
.article:hover{
    background-color: rgba(0,0,0,0.1);
    transform: scale(1.1);
}
.orderedlist:hover{
    background-color: rgba(0,0,0,0.1);
    transform: scale(1.1);
}
.unorderedlist:hover{
    background-color: rgba(0,0,0,0.1);
    transform: scale(1.1);
}
.video{
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
}
.video:hover{
    transform: scale(1.1);
}
/* .table{
    border-bottom: 1px solid black;
} */
td{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    padding:20px;
    font-size: 40px;
}
th{
    border: 1px solid black;
    border-radius: 10px;
    width: 800px;
    padding:20px;
    font-size: 40px;
}
th,td{
    text-align: center;;
}